.root {
  -fx-background-image: url("background.jpg");
}

#lbProductName {
  -fx-text-fill: white;
}

#lbManufacturer {
  -fx-text-fill: white;
}

#lbItemType {
  -fx-text-fill: white;
}

#lbExistingProduct {
  -fx-text-fill: white;
}

#tbExistingProd {
  -fx-text-fill: black;
  -fx-font-size: 14px;
}

#lbChooseProduct {
  -fx-text-fill: white;
}

#lbChooseQuantity {
  -fx-text-fill: white;
}

#recordProd {
  -fx-font-size: 13px;
  -fx-font-weight: bold;
}

#itemBox {
  -fx-text-fill: black;
}

#tabProduce {
  -fx-font-weight: bold;
  -fx-font-size: 14px;
}

#tabProductionLog {
  -fx-font-weight: bold;
  -fx-font-size: 14px;
}

#tabProductLine {
  -fx-font-weight: bold;
  -fx-font-size: 14px;
}
#productionLog{
  -fx-font-size: 14px;
}
#lvChooseProduct{
  -fx-font-size: 14px;
}

.label {
  -fx-font-size: 14px;
  -fx-font-weight: bold;
}

#welcome-text {
  -fx-font-size: 32px;
  -fx-font-family: "Arial White";
  -fx-fill: #818181;
  -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
}

#addProduct {
  -fx-text-fill: white;
  -fx-font-family: "Arial Narrow";
  -fx-font-weight: bold;
  -fx-background-color: linear-gradient(#61a2b1, #2A5058);
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button:hover {
  -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}