.root {
  -fx-background-image: url("background.jpg");
}

#lb_productName {
  -fx-text-fill: white;
}

#lb_manufacturer {
  -fx-text-fill: white;
}

#lb_itemType {
  -fx-text-fill: white;
}

#lb_existingProduct {
  -fx-text-fill: white;
}

#tb_existingProd {
  -fx-text-fill: black;
}

#lb_chooseProduct {
  -fx-text-fill: white;
}

#lb_chooseQuantity {
  -fx-text-fill: white;
}

#recordProd {
  -fx-font-size: 13px;
  -fx-font-weight: bold;
}

#itemBox {
  -fx-text-fill: black;
}

#tab_produce {
  -fx-font-weight: bold;
  -fx-font-size: 14px;
}

#tab_productionLog {
  -fx-font-weight: bold;
  -fx-font-size: 14px;
}

#tab_productLine {
  -fx-font-weight: bold;
  -fx-font-size: 14px;
}
#productionLog{
  -fx-font-size: 14px;
}

.label {
  -fx-font-size: 14px;
  -fx-font-weight: bold;
}

#welcome-text {
  -fx-font-size: 32px;
  -fx-font-family: "Arial White";
  -fx-fill: #818181;
  -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
}

#addProduct {
  -fx-text-fill: white;
  -fx-font-family: "Arial Narrow";
  -fx-font-weight: bold;
  -fx-background-color: linear-gradient(#61a2b1, #2A5058);
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button:hover {
  -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}